/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-primary-light {
  color: #7373F5 !important;
}

.u-color-primary-base {
  color: #7373F5 !important;
}

.u-color-primary-dark {
  color: #7373F5 !important;
}
